<div class="container">
  <div class="header">
    HEADER
  </div>
  <div id="messages" class="messages">
    <div>
      <ul>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>   
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
      </ul>
    </div>
  </div>
  <div id="input">
    <!-- <textarea [(ngModel)]="textAreaInput" (ngModelChange)="resizeText()"></textarea> -->
    <textarea [(ngModel)]="textAreaInput" (keydown)="resizeText()" (keyup)="resizeText()"></textarea>
    <button (click)="clearInput()">CLICK</button>
  </div>
  
</div>