<div class="container">
  <div class="header">
    CHANGE LANG
    <button mat-raised-button (click)="useLang('en')">ENGLISH</button>
    <button mat-raised-button (click)="useLang('fr')">FRANÇAIS</button>
  </div>
  <div id="messages" class="messages">
    <div>
      <ul>
        <li>{{ 'messages.title' | translate }}.toLowerCase()</li>
        <li>{{ 'messages.bee' | translate }}</li>
        <li>{{ 'messages.iceCream' | translate }}</li>
        <li>{{ 'messages.magnificent' | translate }}</li>
        <li>{{ 'messages.marvelous' | translate }}</li>
        <li>{{ 'messages.title' | translate }}</li>
        <li>{{ 'messages.title' | translate }}</li>
        <li>{{ 'messages.jesus' | translate }}</li>
        <li>{{ 'messages.sick' | translate }}</li>
        <li>{{ 'messages.title' | translate }}</li>
        <li>{{ 'messages.takeOverConversation' | translate }}</li>
        <li>{{ 'messages.title' | translate }}</li>
        <li>{{ 'messages.one' | translate }}</li>
        <li>{{ 'messages.two' | translate }}</li>
        <li>{{ 'messages.three' | translate }}</li>
        <li>{{ 'messages.four' | translate }}</li>
        <li>{{ 'messages.title' | translate }}</li>
        <li>{{ 'messages.sixteen' | translate }}</li> 
        <li>{{ 'name.title' | translate:{'name': name, 'age': age} }}</li>
        <li>{{ 'name.id' | translate: {'id': id } }}</li>
        <li>{{ 'name.test' | translate }}</li>
        <li>{{ availableAgentsCount | i18nPlural: messageMapping | translate:{availableAgentsCount: availableAgentsCount} }}</li>
        <li>{{ availableAgentsCount | i18nPlural: testMap | translate:{availableAgentsCount: availableAgentsCount} }}</li>

        <!-- {availableAgentsCount, plural, =0 {(no agent available)} =1 {({{availableAgentsCount}} agent available)} other {({{availableAgentsCount}}
          agents available)}} -->
      </ul>
    </div>
  </div>
  <div id="input">
    <!-- <textarea [(ngModel)]="textAreaInput" (ngModelChange)="resizeText()"></textarea> -->
    <textarea [(ngModel)]="textAreaInput" (keydown)="resizeText()" (keyup)="resizeText()"></textarea>
    <button mat-raised-button (click)="clearInput()">CLICK</button>
  </div>

</div>