<div class="container">
  <div class="header">
    HEADER
  </div>
  <div id="messages" class="messages">
    <div>
      <ul>
        <li>MESSAGES</li>
        <li>BEE</li>
        <li>ICE CREAM</li>
        <li>SUPERB</li>
        <li>MAGNIFICIENT</li>
        <li>MARVELOUS</li>
        <li>MESSAGES</li>
        <li>JESUS</li>
        <li>SICK</li>
        <li>MESSAGES</li>
        <li>TAKE OVER CONVERSATION</li>
        <li>MESSAGES</li>
        <li>ONE</li>
        <li>TWO</li>
        <li>THREE</li>
        <li>FOUR</li>
        <li>MESSAGES</li>
        <li>SIXTEEN</li>   
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>
        <li>MESSAGES</li>

      </ul>
    </div>
  </div>
  <div id="input">
    <!-- <textarea [(ngModel)]="textAreaInput" (ngModelChange)="resizeText()"></textarea> -->
    <textarea [(ngModel)]="textAreaInput" (keydown)="resizeText()" (keyup)="resizeText()"></textarea>
    <button (click)="clearInput()">CLICK</button>
  </div>
  
</div>